
body{
   background-color: rgb(82, 144, 225);
   margin: 50px;
}

.shared-row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border: 1px black solid;
}

.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: green;
}